<ion-view view-title="Service Detail">
	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{selectedService.name}}</div>
      <div class="item item-body">
        <h2>Id: {{selectedService.id}}</h2>
        <h2>Name: {{selectedService.name}}</h2>
        <h2>Description: {{selectedService.description}}</h2>
        <h2>Supplier: {{selectedService.supplier}}</h2>
        <h2>Category: {{selectedService.extra.service_category_name}}</h2>
        <h2>Type: {{selectedService.extra.service_type_name}}</h2>
        <h2>Price: {{selectedService.price | currency : $ : 0 }}</h2>
        <h2>Created: {{selectedService.created | date:'medium'}}</h2>
        <h2>Updated: {{selectedService.updated | date:'medium'}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>