<ion-view view-title="Product Detail">
	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{selectedProduct.name}}</div>
      <div class="item item-body">
        <h2>Id: {{selectedProduct.id}}</h2>
        <h2>Name: {{selectedProduct.name}}</h2>
        <h2>Description: {{selectedProduct.description}}</h2>
        <h2>Supplier: {{selectedProduct.supplier}}</h2>
        <h2>Location: {{selectedProduct.location}}</h2>
        <h2 ng-repeat="category in categories | filter: selectedProduct.product_category">Category: {{category.name}}</h2>
        <h2 ng-repeat="type in types | filter: selectedProduct.product_type">Type: {{type.name}}</h2>
        <h2>Price: {{selectedProduct.price | currency }}</h2>
        <h2>Stock: {{selectedProduct.stock }}</h2>
        <h2>Quantity: {{selectedProduct.quantity}}</h2>
        <h2>Created: {{selectedProduct.created}}</h2>
        <h2>Updated: {{selectedProduct.updated}}</h2>
      </div>
    </div>
	</ion-content>
</ion-view>