<ion-view view-title="Sale List">
	<ion-nav-buttons side="left">
		<button ui-sref="tab.sale-create" class="button icon ion-android-add-circle"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	  <button class="button icon ion-android-more-vertical" ng-click="menu($event)"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<ion-refresher  pulling-icon="ion-arrow-down-b" on-refresh="refresh()"></ion-refresher>
		<ion-list>
			<div class="button-bar">
			  <button class="button button-balanced button-outline button-small" ng-click="dayFilter()">Day</button>
			  <button class="button button-balanced button-outline button-small" ng-click="weekFilter()">Week</button>
			  <button class="button button-balanced button-outline button-small" ng-click="monthFilter()">Month</button>
			</div>
			<div class="spacer" style="height:20px;"></div>
			<search></search>
			<ion-item ng-click="detail(sale)"
								collection-repeat="sale in listSales | orderBy:sale.name | filter:search.value"
								class="item item-button-right saleList"
								item-render-buffer="1">
				<h3 class="num"><span>#</span> {{sale.name}}</h3>
				<h2>{{sale.customer_username}}</h2>
				<h2>{{ sale.total | currency : $ : 0 }}</h2>
				<h6>{{ sale.created_at | date:'medium' }}</h6>
				<!-- <strong>Products</strong> -->
				<div class="badgeInfo Prod">{{sale.products.length}}</div>
				<!-- <strong>Services</strong> -->
				<div class="badgeInfo Serv">{{sale.services.length}}</div>
				<div class="buttons">
				  <ion-option-button ng-click="update(sale,false)" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" keyboard-attach class="bar-dark">
	  <h1 class="title">Platxo Sales</h1>
	</ion-footer-bar>
</ion-view>
