<ion-view view-title="Sale List">

	<ion-nav-buttons side="left">
		<button ui-sref="tab.sale-create" class="button icon ion-android-add-circle"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	  <button class="button icon ion-android-more-vertical" ng-click="menu($event)"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<ion-list>
			<search></search>
			<div class="button-bar">
			  <button class="button button-balanced button-outline button-small" ng-click="filters.type = 'day'">Day</button>
			  <button class="button button-balanced button-outline button-small" ng-click="filters.type = 'week'">Week</button>
			  <button class="button button-balanced button-outline button-small" ng-click="filters.type = 'month'">Month</button>
			</div>
			<ion-item ng-click="detail(sale)" ng-repeat="sale in sales | orderBy:'name' | filter:search.value | weekFilter: filters.type" class="item item-button-right">
				<h2>{{sale.customer_username}}</h2>
				<h2>{{ sale.total | currency : $ : 0 }}</h2>
				<h2>{{ sale.created_at | date:'medium' }}</h2>
				<div class="buttons">
				  <ion-option-button ng-click="update(sale,false)" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" keyboard-attach class="bar-dark">
	  <h1 class="title">Platxo Sales</h1>
	</ion-footer-bar>
</ion-view>
