<ion-view view-title="Sale Create">
	<ion-content padding="true">
		<form ng-submit="create()" class="list">
      <label class="item item-input item-select">
        <span class="input-label">Product</span>
        <select ng-model="sale.product">
          <option ng-repeat="product in products" value="{{product.url}}">{{product.name}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Service</span>
        <select ng-model="sale.service">
          <option ng-repeat="service in services" value="{{service.url}}">{{service.name}}</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Customer</span>
        <input ng-model="sale.customer" type="text" placeholder="" value="">
      </label>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Create</button>
    </form>
	</ion-content>
</ion-view>