<ion-view view-title="Sale Create">
  <ion-nav-buttons side="right">
    <button class="button icon ion-person-add" ng-click="customerOpenModal(false)"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
		<form name="formCreateSale" ng-submit="create(cart)" class="list">
      <div class="item item-input item-select" ng-click="customerOpenModal(true)">
        <span class="input-label">Customer</span>
        <p>{{sale.customerName}}</p>
      </div>
      <label class="item item-input item-select item-divider" ng-click="productOpenModal()">
        <span class="input-label">Products</span>
      </label>
      <div class="" ng-repeat="item in cart.products">
        <div class="row">
          <div class="col col-50">
            {{item.item.name}}
          </div>
          <div class="col">
          </div>
          <div class="col">
            <span class="badge badge-positive">{{item.qty}}</span>
          </div>
        </div>
      </div>
      <label class="item item-input item-select item-divider" ng-click="serviceOpenModal()">
        <span class="input-label">Services</span>
      </label>
      <div ng-repeat="item in cart.services" class="row">
        <div class="col col-50">
          {{item.item.name}}
        </div>
        <div class="col">
          <div></div>
        </div>
        <div class="col">
          <span class="badge badge-positive">{{item.item.qtySelected}}</span>
        </div>
      </div>
      <div class="range range-positive">
        <i>0</i>
        <input type="range" name="discount" min="0" max="100" value="0" ng-model="cart.discount">
        <i>100</i>
      </div>
      <div class="row item item-light">
        <div class="col col-50">
          Discount
        </div>
        <div class="col col-25">
          {{cart.discount}} %
        </div>
        <div class="col col-25">
          {{ (cart.totalCart * cart.discount) / 100 | currency : $ : 0 }}
        </div>
      </div>
      <div class="row item item-positive">
        <div class="col col-75">
          Total
        </div>
        <div class="col col-25">
          {{ cart.totalCart - (cart.totalCart * cart.discount) / 100 | currency : $ : 0 }}
        </div>
      </div>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Create</button>
      <button type="button" ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
	</ion-content>
</ion-view>