<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Product</h1><button class="button icon ion-android-cancel" ng-click="productCloseModal()"></button>
  </ion-header-bar>
  <ion-content>
    <ion-refresher  pulling-icon="ion-arrow-down-b" on-refresh="refresh(false,true,false)"></ion-refresher>
    <search></search>
    <ion-list>
      <div collection-repeat="product in products | orderBy:'name' | filter:search.value"
           item-render-buffer="1">
        <ion-checkbox ng-click="addItem(product)" ng-model="product.isChecked">
          <!-- <img ng-src="{{product.picture_url}}"> -->
          <h2>{{product.name}} - {{product.retail_price | currency : $ : 0}}</h2>
          <h4>{{product.product_type_name}} | {{product.brand_name}}</h4>
          <h4>{{product.product_category_name}}</h4>
        </ion-checkbox>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>