<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Product</h1><button class="button icon ion-android-cancel" ng-click="productCloseModal()"></button>
  </ion-header-bar>
  <ion-content>
    <search></search>
    <!-- <ul class="list">
      <li ng-repeat="product in products | orderBy:'name' | filter:search.value" class="item item-checkbox">
        <div class="row">
           <p>{{product.name}}</p>
          <div class="col col-50">
           <label class="checkbox">
             <input type="checkbox" ng-click="addItem(product)">
           </label>
          </div>
          <div class="col">
            <p>{{product.location}}</p>
          </div>
          <div class="col">
            <p>{{product.section}}</p>
          </div>
        </div>
      </li>
    </ul> -->


    <ion-list>
      <div ng-repeat="product in products | orderBy:'name' | filter:search.value">
        <!-- <div class="col col-50"> -->
          <ion-checkbox ng-click="addItem(product)">
            <p>{{product.name}}</p>
          </ion-checkbox>
        <!-- </div> -->
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>