<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Service</h1><button class="button icon ion-android-cancel" ng-click="serviceCloseModal()"></button>
  </ion-header-bar>
  <ion-content padding="true">
    <search></search>
    <ion-list>
      <ion-item class="item row" ng-repeat="service in services | orderBy:'name' | filter:search.value">
        <div class="col col-50">
          <p>{{service.name}}</p>
        </div>
        <div class="col">
          <button type="button" class="button icon ion-plus-circled button-light" ng-click="addItem(null,service)"></button>
          <button type="button" class="button icon ion-minus-circled button-light" ng-click="removeItem(null,service)"></button>
        </div>
        <div class="col">
          <span class="badge badge-positive">{{service.qtySelected}}</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>