<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Customer</h1><button class="button icon ion-android-cancel" ng-click="customerCloseModal()"></button>
  </ion-header-bar>
  <ion-content padding="true">
    <search></search>
    <ion-radio
      ng-if="filterCustomers"
      ng-repeat="customer in customers | filter:currentBusiness | filter:search.value"
      ng-click="selectCustomer(customer)"
      ng-value="customer.url"
      name="{{customer.username}}">
      {{customer.user}}
    </ion-radio>
    <ion-radio
      ng-if="!filterCustomers"
      ng-repeat="customer in customers | filter:search.value"
      ng-click="addCustomer({id: customer.id})"
      ng-value="customer.url"
      name="{{customer.username}}">
      {{customer.user}}
    </ion-radio>
  </ion-content>
</ion-modal-view>