<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Product</h1><button class="button icon ion-android-cancel" ng-click="productCloseModal()"></button>
  </ion-header-bar>
  <ion-content>
    <search></search>
    <ion-list>
      <ion-item class="item row" ng-repeat="product in products | orderBy:'name' | filter:search.value">
        <div class="col col-50">
          <p>{{product.name}}</p>
          <p>{{product.price | currency : $ : 0}}</p>
        </div>
        <div class="col center" ng-if="product.quantity > 0 && product.qtySelected < product.quantity">
          <button type="button" class="button icon ion-plus-circled button-light" ng-click="addItem(product,null)"></button>
        </div>
        <div class="col center" ng-if="product.qtySelected > 0">
          <button type="button" class="button icon ion-minus-circled button-light" ng-click="removeItem(product,null)"></button>
          </div>
        <div class="col">
          <span class="badge badge-positive">{{product.qtySelected}}</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>