<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Service</h1><button class="button icon ion-android-cancel" ng-click="serviceCloseModal()"></button>
  </ion-header-bar>
  <ion-content padding="true">
    <search></search>
    <ion-list>
      <div collection-repeat="service in services | orderBy:'name' | filter:search.value"
            item-render-buffer="1">
          <ion-checkbox ng-click="addItem(null,service)" ng-model="service.isChecked">
            <p>{{service.name}}</p>
            <p>{{service.price | currency : $ : 0}}</p>
          </ion-checkbox>
      </div>
      <!-- <ion-item class="item row">
        <div class="col col-10 center">
          <button type="button" class="button icon ion-plus-circled button-light" ng-click="addItem(null,service)"></button>
        </div>
        <div class="col col-10 center" ng-if="service.qtySelected > 0">
          <button type="button" class="button icon ion-minus-circled button-light" ng-click="removeItem(null,service)"></button>
        </div>
        <div class="col">
          <span class="badge badge-positive">{{service.qtySelected}}</span>
        </div>
      </ion-item> -->

    </ion-list>

  </ion-content>
</ion-modal-view>